.ui-dialog-buttonset {
	float: none !important;
	text-align: center;
}

.ui-dialog-title {
	text-align: center;
}
#dialog-form input {
	width: 100%;
}
div.ui-dialog {
	position:fixed !important;
}
.footer {
	padding-bottom: 30px;
}
.center-align {
	text-align: center;
}
.header {
	background-color: #337ab7;
	padding: 10px;
	color: #ffffff;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;
}
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.add-new {
	margin-left: 92%;
	margin-top: 10%;
	position: absolute;
	cursor: pointer;
}
.feature {
	margin-bottom: 10px;
}

.button-div {
	margin-top: 15px;
}
.required-feature.error {
	border-color: #ff0000;
}
.ui-autocomplete-loading {
	background-image: url('/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 5% 50%;
}
.feature label {
	font-weight: normal;
}
div.feature div:first-child {
	font-weight: bold;
}

#feature_update {
	text-align: center;
}
.disabled-item a {
	text-decoration: none;
	color: #000000;
}
.err {
	font-weight: bold;
	color: #ff0000;
	font-size: 12px;
}

.right-align {
	text-align : right;
}
.remove-icon {
	position: absolute;
	cursor: pointer;
}
.bold {
	font-weight: bold;
}

na.menu-item {
	width: 150px;
	background-color: #337ab7 !important;
	margin-top: -19px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-left: 1px;
	position: absolute;
	z-index: 100;
}
.menu-item div a {
	color: #ffffff !important;
	text-decoration: none;
	padding: 10px 0;
}

.menu-item div {
	padding: 10px 0 10px 10px;;
}
.menu-item div:hover {
	background-color: #ddd;
}
.menu-item div a.hover {
	color: #888888 !important;
}
.sb-menu {
	padding: 0px;
}
.sb-menu li {
	padding: 14px;
	border-bottom: 1px solid #626262;
}
.sb-menu li a {
	text-decoration: none;
	font-size: 18px;
	color: #c2c2c2;
}
.sb-menu li:hover {
	background-color: #626262;
}

.sb-menu li:hover a{
	color: #ffffff;
}
#sb-site {
	overflow: hidden !important;
}
.logout {
	display: inline-block;
	width: 5%;
	text-align: center;
	padding: 10px;
	border: 1px solid #204d74;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.logout a {
	color: #ffffff;
	text-decoration: none;
}
.logout:hover {
	background-color: #204d74;
}
.heading {
	text-align: center;
	font-size: 29px;
	color: #ffffff;
	width: 90%;
	margin-left: 0%;
	display: inline-block;
}
input[type="checkbox"] + label, input[type="radio"] + label {
	margin-left: 5px;
	margin-top: -1px;
}
.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: -10px;
   z-index: 10;
}
.loading-container {
	text-align: center;
}

.truncate {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-tooltip {
    max-width: 500px !important;
}
.ui-tooltip-content {
    max-width: 500px !important;
}
#recent-products.dropdown-menu>li {
	width: 330px;	
}
#recent-products.dropdown-menu>li>a {
	display: inline-block !important;	
}
#recent-products.dropdown-menu>li>span {
	display: inline-block !important;
	position: relative;
	top: -10px;
}
.product-status {
	font-size: 10px;
	padding: 2px;
	border-radius: 3px;
	color: #ffffff;
	font-weight: bold;
}
.not-processed {
	background-color: #787878;
	border: 1px solid #787878;
}
.processing {
	background-color: #ffa500;	
	border: 1px solid #ffa500;
}
.processed {
	background-color: #00ff00;	
	border: 1px solid #00ff00;
}

.product-list {
	margin: auto;
	width: 80%;
}

.product-list tr:first-child {
	text-align: center;
	font-weight: bold;
}
.product-list tr td {
	padding: 5px;
	border: 1px solid #d2d2d2;
}
.product-list tr td:last-child {
	text-align: center;
}
.top-margin {
	margin-top: 80px;
}
.empty-list {
	width: 195px !important;
	padding-left: 5px;
}
.remove-feature-group {
	color: #ff0000;
	margin-right: -20px;
	cursor: pointer;
}
.permission.assigned .glyphicon-remove{
	margin-left: 5px;
	cursor: pointer;
}
.permission.assigned .glyphicon-remove:hover{
	color: #ff0000;
}

.permission.not-assigned .glyphicon-plus{
	margin-left: 5px;
	cursor: pointer;
}
.permission.not-assigned .glyphicon-plus:hover{
	color: #009925;
}

.permission.assigned.from-role, .not-assignable {
	cursor: help;
}
.permission.assigned {
	background-color: #009925;
}

.permission.not-assigned {
	background-color: #a2a2a2;
}

.permission {
	color: #ffffff;
	padding: 5px;
	border-radius: 3px;
	margin: 0 3px;
	font-size: 10px;
	display: inline-block;
	margin: 3px;
	font-weight: bold;
}
table.permissions {
	width: 100%;
}
.permissions tr td {
	border-bottom: 1px solid #d2d2d2;
	padding: 7px 0;
}
.action {
	font-size: 12px;
}
.action+.action {
	margin-left: 10px;
}
.permission-list {
	padding: 7px 15px !important;
}
.toggle-permissions {
	font-weight: bold;
	font-size: 10px;
	display: inline-block;
}
.filter-div {
	padding: 0 0 10px 0;
}
.inline-form-control {
	display: inline-block;
}
.datePicker.inline-form-control {
	width: 49% !important;
}
.per-page {
	width: 100% !important;
}
.product-list {
	font-size: 14px;
}

.roles-div .permissions tbody tr td:first-child {
	width: 20%;
	font-size: 14px;
}
.roles-div .permissions tbody tr td.permission-list {
	width: 80%;
}

.cache-column a {
	color: #337ab7 !important
}
.cache-column {
	width: 25% !important;
	text-align: center;
}
.cache-table {
	width: 60%;
	margin: auto;
}
.cache-table th, .cache-table td {
	width: 33%;
	padding: 5px;
	border: 1px solid #d2d2d2;
}
.user-profile table {
	width: 100%;
	margin: auto;
}
.user-profile td {
	padding: 5px;
}
.user-profile td:first-child {
	width: 10%;
	border: 1px solid #d2d2d2;
}
.user-profile td:last-child {
	width: 90%;
	border: 1px solid #d2d2d2;
}
.notification-link {
	font-weight: bold;
}
